<head>
    <meta name="viewport" content="width=device-
    width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',
    filename='styles.css') }}">
</head>


<body>
    <div class="container">
        <h2>Ethical Test</h2>
        <h4>It is ethical for a manager to disclose confidential employee information to unauthorized personnel.</h4>
        <from action="/wrong" method="post">
            <input type = "submit" value="True">
        </from>
        <from action="/correct" method="post">
            <input type = "submit" value="False">
        </from>

        <from action="/main" method="post">
            <input type = "submit" value="Main">
        </from>

    </div>

</body>


